<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}Basic View{% endblock %}</title>
		<link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />

		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
		<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css' />
		<link href="{{ asset('font-awesome-4.5.0/css/font-awesome.min.css') }}" rel="stylesheet/less" type="text/css" />
		<link href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" rel="stylesheet" />
		<link href="{{ asset('css/base.css') }}" rel="stylesheet"  type="text/css"/>
		<link href="{{ asset('less/baseStyle.less') }}" rel="stylesheet/less" type="text/css" />

		{% block stylesheets %}{% endblock %}

		<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
		<script src="{{ asset('js/html.js') }}"></script>
		<script src="{{ asset('js/map.js') }}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ asset('js/init.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
		<script src="http://cdn.socket.io/socket.io-1.4.5.js"></script>
		{% block javascripts %}{% endblock %}
	</head>

	<body>
		<nav>

			<label for="show-menu" class="show-menu"><span id="hamburger"></span></label>
			<input type="checkbox" id="show-menu" role="button" />

			{% set currentPath = app.request.attributes.get('_route') %}

			<div>
				<a {{ currentPath == 'accueil' ? 'class="current"' }} href="{{ path('accueil') }}">Perturbations</a>
				<a {{ currentPath == 'accueil' ? 'class="current"' }} href="{{ path('accueil') }}">Objects Transport</a>
				
				{% if not (is_granted('ROLE_ADMIN') or is_granted('ROLE_PROFESSIONNAL') or is_granted('ROLE_USER')) %}

					<a {{ currentPath == 'devenez_partenaire' ? 'class="current"' }} href="{{ path('login') }}">Login</a>
					<a {{ currentPath == 'devenez_partenaire' ? 'class="current"' }} href="{{ path('register') }}">Sign in</a>

				{% else %}

					{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROFESSIONNAL') %}
						<a {{ currentPath == 'perturbation_list_all' ? 'class="current"' }} href="{{ path('perturbation_list_all') }}">Liste perturbations</a>
					{% endif %}
					
					{% if is_granted('ROLE_ADMIN') %}
						<a {{ currentPath == 'administration' ? 'class="current"' }} href="{{ path('administration') }}">Administration</a>
						<a {{ currentPath == 'transport_index' ? 'class="current"' }} href="{{ path('transport_index') }}">Ajouter un objet</a>
					{% endif %}

					{% if is_granted('ROLE_PROFESSIONNAL') %}

					{% endif %}

					<a href="{{ path('logout') }}">Logout ({{ app.user.username }})</a>

				{% endif %}
			</div>
		</nav>

		<div id="messages">
			{% for type, messages in app.session.flashBag.all %}
				{% for message in messages %}
					<div class="{{ type }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
		</div>
		
		{% block titleblock %}{% endblock %}

		<section>
			{% block body %}{% endblock %}
		</section>

	</body>

</html>
