<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}TSIc{% endblock %}</title>
		<link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />

		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
		<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css' />
		<link href="{{ asset('font-awesome-4.5.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
		<link href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" rel="stylesheet" />
		<link href="{{ asset('css/mobile.css') }}" rel="stylesheet"  type="text/css"/>
		{% block stylesheets %}{% endblock %}

		<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
		<script src="http://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script src="{{ asset('js/html.js') }}"></script>
		<script src="{{ asset('js/mobile.js') }}"></script>
		{% block javascripts %}{% endblock %}
	</head>

	<body>
		<h1 id="title"></h1>
		<section id="screen"></section>
		<nav>
			<div id="mapNearest" class="selected"><i class="fa fa-map" aria-hidden="true"></i></div>
			<div id="listNearest"><i class="fa fa-list-ul" aria-hidden="true"></i></div>
			<div id="addPerturbation"><i class="fa fa-plus" aria-hidden="true"></i></div>
			<div id="login"><i class="fa fa-sign-in" aria-hidden="true"></i></div>
			<div id="logout" style="display:none;"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
		</nav>
	</body>

</html>
