{% extends 'SearchBundle::base.html.twig' %}

{% block title %}
	ArtisanExpert - Listes des membres
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/Search/less/doctrineStyle.less') }}" rel="stylesheet/less" type="text/css" />
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

	<div id="otherSections" class="admin_users">
		<section>
			<div class="content">
				<h2>Listes des membres</h2>
				<table>
					{% for user in users %}
						<tr>
							<td><a href="{{ path('user_afficher', {id : user.id}) }}">
								<img src="{{ url('file_avatar', {id : user.id}) }}" alt="{{ user.nom }} {{ user.prenom }}" class="avatar" /></a>
							</td>
							<td><a href="{{ path('user_afficher', {id : user.id}) }}">{{ user.nom }}</a></td>
							<td><a href="{{ path('user_afficher', {id : user.id}) }}">{{ user.prenom }}</a></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</section>
	</div>

{% endblock %}