<div id="list" class="elements">
	{% for p in perturbations %}
		<div
			class="element perturbation"
			data-id-type="{{ p.type.id }}"
			data-name-type="{{ p.type.name }}"
			data-name="{{ p.name }}"
			data-center="{{ p.center }}"
			data-path="{{ path('perturbation_show', {id : p.id}) }}"
		>
			<a href="{{ path('perturbation_show', { id: p.id }) }}">
				<div class="table">
					<div class="row">
						<div class="cell middle left">{{ p.name }}</div>
						<div class="cell middle right">
							{% if p.activated %}
							<span
								class="button inhibate" 
								data-path="{{ path('vote', { id_perturbation: p.id, id_message: 1}) }}"
								title="Dénoncer la perturbation"
							>
								<i class="fa fa-ban"></i>
							</span>
							{% endif %}
							{% if not p.terminated %}
							<span
								class="button terminate"
								data-path="{{ path('vote', { id_perturbation: p.id, id_message: 2}) }}"
								title="La perturbation est terminée."
							>
								<i class="fa fa-hourglass-end"></i>
							</span>
							{% endif %}
							{% if not p.valid %}
								<span
									class="button validate" 
									data-path="{{ path('vote', { id_perturbation: p.id, id_message: 3}) }}"
									title="Confirmer la perturbation"
								>
									<i class="fa fa-check-circle-o"></i>
								</span>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</a>
		</div>
	{% endfor %}

	{% if perturbations|length == 0 %}
		<div class="element">
			<a href="#">
				<div class="table">
					<div class="row">
						<div class="cell middle left">Aucune perturbation à afficher</div>
					</div>
				</div>
				<div class="clear"></div>
			</a>
		</div>
	{% endif %}

	<div class="element">
		<a href="{{ path('perturbation_add') }}">
			<div class="table">
				<div class="row">
					<div class="cell middle left">Ajouter une perturbation</div>
				</div>
			</div>
			<div class="clear"></div>
		</a>
	</div>
</div>
