{% extends 'AppBundle::base.html.twig' %}

{% block title %}
	Détails de la perturbation
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

    <div class="parent">
	<div id="map" class="child"></div>
	<div class="child" data-id="{{ perturbtaion.id }}" data-date="{{ perturbation.creation_date }}">

	    <p>Perturbation créée le {{ perturbation.creation_date }}.
		{% if perturbation.valid %}
		    <span class="perturbation-valid-tag">Validée</span>
		{% endif %}
	    </p>

	    {% for f in perturbation.formulations %}
		<div class="element" data-name="{{ f.name }}" data-center="{{ f.center }}" data-logo="{{ f.type.logo }}">

		    <h1><span class="perturbation-name">{{ f.name }}</span> :
			<span class="perturbation-type" title="{{ f.type.description }}">{{ f.type.name }}</span></h1>
		    <p>Modifiée : {{ f.creation_date }}</p>
		    <p class="perturbation-dates">Depuis {{ f.begin_date }} ; fin estimée à {{ f.end_date }}</p>
		</div>
	    {% endfor %}
	</div>
    </div>

{% endblock %}
