{% extends 'AppBundle::base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/base.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/map.css') }}" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/init_ajax.js') }}"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="{{ asset('js/map.js') }}"></script>
{% endblock %}

{% block body %}

    <div id="ajax_loader" data-function="{{ function }}">
    </div>

{% endblock %}
