{% extends 'AppBundle::base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/init_geoloc.js') }}"></script>
	<script src="{{ asset('js/init_ajax.js') }}"></script>
{% endblock %}

{% block titleblock %}	
	<h1>{{ title }}</h1>
{% endblock %}

{% block body %}

	<div id="ajax_loader" data-function="{{ function }}">
	</div>

{% endblock %}
